{% extends '_base.html' %}

{% block page_title %}
    Add new post
{% endblock page_title %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-9">
                <div class="card shadow my-3 p-5">
                    <h3>Add new Post:</h3>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group py-2">
                            <label class="py-1">Enter post title</label>
                            <input type="text" class="form-control" placeholder="e.g. Some Title" name="title">
                        </div>
                        <div class="form-group py-2">
                            <label class="py-1">Enter post text:</label>
                            <textarea class="form-control" name="text" rows="8"
                                      placeholder="Enter your post text here..."></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
            <div class="col-3">

                <div class="card my-4">
                    <h5 class="card-header">About me</h5>
                    <div class="card-body">
                        <p class="card-text">I am CE student at Shahid Beheshti University. I love python and django, so I created a blog site to share my
                            thoughts and learnings</p>
                        <a href="#"
                           class="btn btn-sm btn-danger">
                            More...
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock content %}