{% extends '_base.html' %}

{% block page_title %}
    Delete Selected Post
{% endblock page_title %}

{% block content %}
    <div class="container">
        <div class="card shadow my-3 p-5">
            <center>
                <p>Are you sure you want to delete {{ post.title }} post permanently?</p>
                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="Delete" class="btn btn-danger">
                </form>
            </center>
        </div>
    </div>

{% endblock content %}